<div class="jumbotron text-center">
	<h1>Bienvenido al sistema de presupuestación de proyectos de Infratel</h1>

	<div ng-if="!main.loggedIn">
		<p>Iniciar sesión</p>
		<!--<a href="/login" class="btn btn-primary">Acceder</a>-->
		<form ng-submit="login.doLogin()">

			<div class="form-group">
				<label>Email</label>
				<input type="text" class="form-control" ng-model="login.loginData.email">
			</div>

			<div class="form-group">
				<label>Contraseña</label>
				<input type="password" class="form-control" ng-model="login.loginData.password">
			</div>

			<div class="alert alert-danger" ng-if="login.error">
				{{ login.error }}
			</div>

			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">Acceder</span>
				<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat spinner"></span></span>
			</button>

			<button type="submit" class="btn btn-block btn-primary">
				<span ng-if="!login.processing">Crear nuevo usuario</span>
				<span ng-if="login.processing" class="spinner"><span class="glyphicon glyphicon-repeat spinner"></span></span>
			</button>

		</form>
	</div>

	<div ng-if="main.loggedIn">
		<p>Acceder al tablero de control</p>
		<a href="/proyectos" class="btn btn-primary">Acceder</a>
	</div>
</div>
